.text{
  font-family: 'Courier New', Courier, monospace;
}
.button{
  font-family: 'Courier New', Courier, monospace;
  background-color: ghostwhite;
  font-size: 16px;
  padding: 16px;
}
.vault{
  background-color: grey;
}